spring:
  datasource:
    url: jdbc:mysql://localhost:3306/doctorbuddy
    username: root
    password: Larmani97
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    properties:
      hibernate:
    show_sql: true
    hibernate:
      ddl-auto: validate